@{
    ViewData["Title"] = "WBS List";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/wbsList.css">
<link rel="stylesheet" href="~/css/EditingWBS.css">

<div class="container-conteudo">

    <h2 class="work-sans">WBS List</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">Edit </th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Férias</td>
                <td>101024</td>
                <td>Férias remuneradas</td>
                <td>
                    <!-- Adicione o link para abrir o modal -->
                    <a href="#" class="editWBSLink"><img role="button" class="mini-icons" src="~/images/pencil.svg" /></a>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked1" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked1"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Treinamento</td>
                <td>123422</td>
                <td>Treinamento estagiário</td>
                <td>
                    <!-- Adicione o link para abrir o modal -->
                    <a href="#" class="editWBSLink"><img role="button" class="mini-icons" src="~/images/pencil.svg" /></a>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked2" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked2"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Atestado</td>
                <td>Atest1010</td>
                <td>Atestado médico</td>
                <td>
                    <!-- Adicione o link para abrir o modal -->
                    <a href="#" class="editWBSLink"><img role="button" class="mini-icons" src="~/images/pencil.svg" /></a>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked3" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked3"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- Modal de edição da WBS -->
<div class="modal fade" id="editWBSModal" tabindex="-1" aria-labelledby="editWBSModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="work-sans-modal" id="editWBSModalLabel">Editing WBS</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Your form content here -->
                <div class="container form-container">
                    <!-- PRIMEIRA LINHA/ROW -->
                    <!-- CADA LINHA CONSEGUE CARREGAR 2 DIVS -->
                    <div class="form-row">
                        <div class="form-column">
                            <label for="name">Name:</label>
                            <input type="text" id="name" class="form-control" placeholder="Enter name">
                        </div>

                        <div class="form-column">
                            <label for="code">Code:</label>
                            <input type="text" id="code" class="form-control" placeholder="Wbs3879">
                        </div>
                    </div>

                    <!-- SEGUNDA LINHA/ROW -->
                    <div class="form-row-descripition">
                            <label for="description">Description:</label>  
                    </div>
                    <div class="form-row-descripition">
                        <textarea type="description" id="description" class="form-controlgrande" placeholder="Wbs used for day offs."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script>
    // Adicione um manipulador de evento de clique ao ícone de lápis
    document.querySelectorAll('.editWBSLink').forEach(item => {
        item.addEventListener('click', function (event) {
            // Impedir o comportamento padrão do link
            event.preventDefault();

            // Obter o modal de edição da WBS pelo ID
            var modal = document.getElementById('editWBSModal');

            // Abrir o modal
            var modalInstance = new bootstrap.Modal(modal);
            modalInstance.show();
        });
    });
</script>
