@{
    ViewData["Title"] = "Editing Department";

}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/EditingDepartment.css">

</head>
<body>
    <!-- Mudança no título -->
    <h1 class="title">Editing Department</h1>


    <div class="container form-container">
        <!-- CADA LINHA CONSEGUE CARREGAR 2 DIVS -->
        <!-- PRIMEIRA LINHA/ROW -->
        <div class="form-row">

            <div class="form-column">
                <label for="name">Name:</label>
                <input type="text" id="name" class="form-control" placeholder="Marketing">
            </div>


        </div>


        <!-- Mudança na localização do botão Save -->
    </div>
    <div class="form-row justify-content-end">
        <button type="button" class="btn btn-save">Save</button>
    </div>


</body>

</html>