
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h2 {
    color: orangered;
}

    .left img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
}

form {
    text-align: center;
}

.container-login-logo {
    display: flex !important;
    align-items: center !important;
}


.logo-img {
    width: 50px;
    margin-right:10px;
}


input, button {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: darkorange;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: orange;
    }
