@{
	ViewData["Title"] = "Profile";

}

<meta name="viewport" content="width-device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/Profile.css">


	
	<h1  class="work-sans">Profile</h1>


<div class="conteiner-conteudo">


	<div class="conteudo">
		<div class="sub-div">
			<p class="bold">Name</p>
			<span>Fulano de tal</span>
		</div>

		<div class="sub-div">
			<p class="bold">E-mail</p>
			<span>fulanodetal@gmail.com</span>
		</div>
	</div>


	<div class="conteudo">
		<div class="sub-div">
			<p class="bold">Date of Birth</p>
			<span>18/04/2000</span>
		</div>

		<div class="sub-div">
			<p class="bold">Departament</p>
			<span>Marketing</span>
		</div>

	</div>

</div>

<div class="btn-position">
	
		<button>Admin Access</button>

	
</div>




